[Unit]
Description=System Diagnostic Daily Timer
Documentation=man:systemd.timer(5)

[Timer]
# Run daily at 5:30 AM
OnCalendar=*-*-* 05:30:00
Persistent=false

[Install]
WantedBy=timers.target
