[Unit]
Description=Run WEB1 Failure Notifier every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=10s
Unit=web1-failure-notifier.service

[Install]
WantedBy=timers.target
