[Unit]
Description=Run WEB1 Watchdog every 2 minutes

[Timer]
OnBootSec=900
OnUnitActiveSec=2min
AccuracySec=5s
Unit=web1-watchdog.service

[Install]
WantedBy=timers.target
