[Unit]
Description=Schedule nightly system reboot at 03:30
Documentation=man:systemd.timer(5)

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=false

[Install]
WantedBy=timers.target
